    <div class="sub-container">
        <h1>{{event.name}}</h1>
        <div class="models-container">
            <div>
                <p class="data-p"><span style="font-weight: 600;">Descrição:</span> {{event.description}}</p>
                <p class="data-p"><span style="font-weight: 600;">Data:</span> {{event.eventDate}}</p>
                {{#if event.Contacts}}
                <p class="data-p"><span style="font-weight: 600;">Contatos:</span> 
                    {{#each event.Contacts}}
                            <span style="margin-right: auto;">
                                {{this.name}} <span style="color: blue;">|</span>
                            </span> 
                    {{/each}}
                </p>
                {{/if}}
            </div>
        </div>
        <div class="bttn-links">
            <a id="bttn-contact" href="/events/edit/{{event.id}}">Editar evento</a>
            <form action="/events/delete" method="post">
                <input type="hidden" name="id" value="{{event.id}}">
                <input type="submit" value="Deletar evento" id="bttn-contact">
            </form>
            <a href="/events_contacts/addContact/{{event.id}}" id="bttn-contact">Adicionar contatos</a>
            <a href="/events_contacts/editContacts/{{event.id}}" id="bttn-contact">Remover contatos</a>
        </div>

    </div>