    <div class="sub-container">
        <h1>{{event.name}}</h1>
        <div class="models-container">
            <div>
                <p>Descrição: {{event.description}}</p>
                <p>Data: {{event.eventDate}}</p>
                {{#if event.Contacts}}
                <p>Contatos: 
                    {{#each event.Contacts}}
                            <span style="margin-right: auto;">
                                {{this.name}}
                            </span>
                    {{/each}}
                </p>
                {{/if}}
            </div>
        </div>
        <div class="bttn-links">
            <a id="bttn-contact" href="/events/edit/{{event.id}}">Editar evento</a>
            <form action="/events/delete" method="post">
                <input type="hidden" name="id" value="{{event.id}}">
                <input type="submit" value="Deletar evento" id="bttn-contact">
            </form>
            <a href="/events_contacts/addContact/{{event.id}}" id="bttn-contact">Adicionar contatos</a>
            <a href="/events_contacts/editContacts/{{event.id}}" id="bttn-contact">Remover contatos</a>
        </div>

    </div>