     <div class="sub-container">
        <h1>{{group.name}}</h1>
        <div class="models-container">
            <div>
                <p class="data-p"><span style="font-weight: 600;">Descrição:</span> {{group.description}}</p>
                {{#if group.Contacts}}
                <p class="data-p"><span style="font-weight: 600;">Contatos:</span> 
                    {{#each group.Contacts}}
                            <span style="margin-right: auto;">
                                {{this.name}} <span style="color: blue;">|</span>
                            </span>
                    {{/each}}
                </p>
                {{/if}}
            </div>
        </div>
        <div class="bttn-links">
            <a id="bttn-contact" href="/groups/edit/{{group.id}}">Editar grupo</a>
            <form action="/groups/delete" method="post">
                <input type="hidden" name="id" value="{{group.id}}">
                <input type="submit" value="Deletar grupo" id="bttn-contact">
            </form>
            <a href="/groups_contacts/addContact/{{group.id}}" id="bttn-contact">Adicionar contatos</a>
            <a href="/groups_contacts/editContacts/{{group.id}}" id="bttn-contact">Remover contatos</a>
        </div>
    </div>
